<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	    <title>Coexistence</title>
	    <link rel="icon" href="{{ url_for('static', filename='resources/ico/favicon.png')}}">
	    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	</head>	
	<body>
		<div class="main" id="login">
			<form>
				<div class="form">
					<br>
					<h2>Coexistence</h2>
					Room Name:<input class="ip" type="text" placeholder="IP">
					<br>
					<button type="button" class="play">Play!</button>
				</div>
			</form>
			
		</div>
	</body>
	<script src="{{ url_for('static', filename='main.js') }}"></script>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.1/jquery.scrollTo.js"></script>
</html>